@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.container-lg {
    @apply px-4 sm:container lg:px-0;
}

@keyframes scroll-logos {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.animate-scroll-logos {
    animation: scroll-logos 20s linear infinite;
}
